<ng-container *ngIf="question$ | async as question">
  <div>
    {{question.question}}
  </div>
  <mat-selection-list #shoes>
    <mat-list-option *ngFor="let opt of question.options">
      {{opt}}
    </mat-list-option>
  </mat-selection-list>
  <div>

    <button *ngIf="question.prevQId" [routerLink]="['/quiz',question.prevQId]" mat-raised-button color="primary">Previous</button>
    <button *ngIf="question.nextQId" [routerLink]="['/quiz',question.nextQId]" mat-raised-button color="primary">Next</button>
  </div>
</ng-container>
